#restaurant-list {
    margin-top: 20px;
    color: black;
}

.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 2px solid darkgray;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 55vw;
}

.map {
    width: 200%;
}

iframe {
    width: 50%;
    height: 100%;
    border: none;
}

.restaurant a {
    color: blue;
    text-decoration: underline;
}
.restaurant a:hover {
    color: darkblue;
}

.favorite-btn {
    background: none; 
    border: none; 
    cursor: pointer;
    padding: 0; 
    display: block;
    margin-left: auto;
}

.favorite-btn img {
    width: 24px;
    height: 24px;
}

.Slogan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    font-family: Arial;
    font-size: 50px;
}

.address-input button {
    padding: 15px 30px; 
    background-color: #ff0000a6; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.address-input button:hover {
    background-color: #c90606; 
    transform: scale(1.05); 
}

.address-input button:active {
    background-color: #a00505; 
    transform: scale(1.02); 
}


#address-input {
    width: 100px;
    height: auto;
}

#page-title {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1000px) {
    .menuTitle {
        font-size: 17px;
    }
}

@media screen and (max-width: 600px) {
    .map{
        display: none;
    }
    .headerLinks {
        display: none;
    }
    .HeaderTitel {
        display: none;
    }
    .menuTitle {
        font-size: 17px;
    }
}

@media screen and (max-width: 400px) {
    .map{
        display: none;
    }
    .headerLinks {
        display: none;
    }
}