.container {
    display: grid;
    
    grid-template-rows:   80px auto 120px;
  
    max-height:  1200px;
}

.container div {
    padding: 5px;
    font-family: Arial;
    font-weight: bold;
}

.burgerMenuImg {
    width: auto;
    height: 60px;
    cursor: pointer;
    transition: transform 0.5s ease;
    padding: 20px;
}

.menuButton.activated {
    animation: moveAndRotate 0.45s forwards;
  }

.menuTitle {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 30px;
}

.hidden-menu {
    position: fixed;
    top: 0;
    right: -245px; 
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    transition: right 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-menu.show {
    right: 0;
    width: 25vw; 
    background-color: white;
}

@keyframes moveAndRotate {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    100% {
      transform: translateX(-18vw);
    }
}


@keyframes popout {
    0% { transform: translateX(0);}
    100% { transform: translateX(-20vw);}
  }

.menuLinks {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menuButton {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 15px; 
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 10; 
    margin-right: 10px;
  }

.logoText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 90px;
    padding: 20px;
    margin-bottom: 10px;
}

.headerLinks {
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin-left: auto;
    margin-right: 30px;
}

.headerLinks.activated {
    animation: moveAndRotate 0.45s forwards;
}

header {
    background-color: rgba(255, 0, 0, 0.336);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:-10px;
    margin-left:-10px;
    margin-right:-10px;
}

footer {
    background-color: green;
}

body {
    font-family: Arial, sans-serif;
}
#restaurant-list {
    margin-top: 20px;
    color: black;
}

.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 2px solid darkgray;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 55vw;
}

.map {
    width: 200%;
}

iframe {
    width: 50%;
    height: 100%;
    border: none;
}

.restaurant a {
    color: blue;
    text-decoration: underline;
}
.restaurant a:hover {
    color: darkblue;
}

.favorite-btn {
    background: none; 
    border: none; 
    cursor: pointer;
    padding: 0; 
    display: block;
    margin-left: auto;
}

.favorite-btn img {
    width: 24px;
    height: 24px;
}

.Slogan {
    justify-content: center;
    align-items: center;
}







@media screen and (max-width: 1000px) {
    .menuTitle {
        font-size: 17px;
    }
}

@media screen and (max-width: 600px) {
    .map{
        display: none;
    }
    .headerLinks {
        display: none;
    }
    .HeaderTitel {
        display: none;
    }
    .menuTitle {
        font-size: 17px;
    }
}

@media screen and (max-width: 400px) {
    .map{
        display: none;
    }
    .headerLinks {
        display: none;
    }
}